Package: me.tabone.triplemark
Name: TripleMark
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Triple press the space bar to insert a question mark
Maintainer: gertab <gerardtabone+tm@gmail.com>
Author: gertab <gerardtabone+tm@gmail.com>
Section: Tweaks
