<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>tripleMarkCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Intelligent Replacement</string>
			<key>footerText</key>
			<string>When enabled, the question mark will only be inserted if the triple spaces are following a character/word.
This would prevent multiple question marks.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.tabone.tripplemarkprefs</string>
			<key>key</key>
			<string>intelligentSwitch</string>
			<key>PostNotification</key>
			<string>me.tabone.tripplemarkprefs/changed</string>
			<key>label</key>
			<string>Intelligent Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
        <dict>
            <key>cell</key> 		
            <string>PSButtonCell</string>
            <key>label</key> 		
            <string>Donate via PayPal</string>
            <key>action</key> 		
            <string>donate</string>
			<key>icon</key>
			<string>paypal.png</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Send bug and features to the developer.</string>
			<key>footerText</key>
			<string>By Gerard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>mailGertab</string>
			<key>label</key>
			<string>Email</string>
		</dict>
	</array>
	<key>title</key>
	<string>TripleMark</string>
</dict>
</plist>
