<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>tripleMarkCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Set the triple space output text below</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>? </string>
			<key>key</key>
			<string>text</string>
			<key>bestGuess</key>
			<string>? </string>
            <key>PostNotification</key>
            <string>me.tabone.triplemarkprefs/preferences.changed</string>
			<key>defaults</key>
			<string>me.tabone.triplemarkprefs</string>
            <key>placeholder</key>
            <string>The default is "?"</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
        <dict>
            <key>cell</key> 		
            <string>PSButtonCell</string>
            <key>label</key> 		
            <string>Donate via PayPal</string>
            <key>action</key> 		
            <string>donate</string>
			<key>icon</key>
			<string>paypal.png</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Send bug and features to the developer.</string>
			<key>footerText</key>
			<string>By Gerard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>mailGertab</string>
			<key>label</key>
			<string>Email</string>
		</dict>
	</array>
	<key>title</key>
	<string>TripleMark</string>
</dict>
</plist>
